
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Pokemon Tipi</h1>
<div class="form-group">
    <input id="pokemon-type-name-input" class="form-control" type="text" required placeholder="Pokemon Tipi İsmini Giriniz" />
    <button id="pokemon-type-submit" class="form-control btn btn-lg btn-primary my-3">Oluştur</button>
</div>


<script>
    $(document).ready(function () {
        newType();
    });

    function newType() {
        $('#pokemon-type-submit').on('click', function () {
            let type = {};
            type.TYPE_NAME = $('#pokemon-type-name-input').val();

           
            $.ajax({
            url: '@Url.Action("NewType","NewType")',
            type: "POST",
            data: { type: type},
            success: function (data) {
                if (data == "başarılı")
                    swal({
                        title: "Başarılı !",
                        text: "Pokemon Tipi Başarıyla Oluşturuldu!",
                        icon: "success",
                        button: "Tamam",
                    });
                else
                    alert("Onaylama Başarısız!");
            }
            });

        })

    }
</script>
