@model List<WebProje.Models.Weakness>

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
<div class="card text-white bg-danger mb-3">
    <div class="card-header">@localizer["Pokemon Zayıflıkları"]</div>
    <div class="card-body">
        <div class="d-flex flex-row justify-content-start align-items-center">
            @foreach (var weakness in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <button disabled class="btn btn-outline-light">@weakness.WEAKNESS_NAME</button>
                </div>
            }
        </div>
    </div>
</div>
