@model List<WebProje.Models.Abilities>
<h1>Pokemon Yetenekler</h1>
<select id="ability-select" class="form-control">
    @foreach (var ability in Model)
    {
        <option data-abilityid="@ability.ABILITY_ID">@ability.ABILITY_NAME</option>
    }
</select>

<button class="form-control btn btn-lg btn-primary my-2" id="select-ability-button">Ekle</button>

<div class="form-control d-flex flex-row justify-content-start" style="padding:0;" id="selected-abilities">

</div>
