@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @if (User.IsInRole("Admin"))
                {

                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                    <span class="sr-only">(current)</span>

                }
                <a class="nav-link" href="@Url.Action("Index","Profile")">Profil</a>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Kullanıcı Bilgilerini Düzenle</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
                <partial name="_Culture" />
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
